.invite-wrapper {
  background: #ffffff; }
  .invite-wrapper .tab-pane-invite {
    padding: 20px 30px; }
  .invite-wrapper .invite-tab {
    padding: 0 30px; }
    .invite-wrapper .invite-tab .nav-tabs .nav-link {
      background: #fff;
      border: none; }
      .invite-wrapper .invite-tab .nav-tabs .nav-link.active {
        color: #04a5ff;
        border-bottom: 4px solid #04a5ff; }
  .invite-wrapper .tab-content {
    padding: 10px 20px;
    background: #cecece;
    border: none; }
    .invite-wrapper .tab-content .profile .left-content {
      float: left; }
      .invite-wrapper .tab-content .profile .left-content .profile-convert {
        text-align: center; }
        .invite-wrapper .tab-content .profile .left-content .profile-convert .badge-success {
          font-size: 14px;
          padding: 10px;
          margin: 10px;
          cursor: grab; }
      .invite-wrapper .tab-content .profile .left-content .session {
        width: 256px;
        height: 200px;
        background: #ffffff;
        font-weight: 500; }
        .invite-wrapper .tab-content .profile .left-content .session .session-header {
          padding: 20px;
          border-bottom: 2px solid #cecece; }
        .invite-wrapper .tab-content .profile .left-content .session .recent-session {
          text-align: center;
          margin: 50px; }
        .invite-wrapper .tab-content .profile .left-content .session.staff {
          height: 100%; }
          .invite-wrapper .tab-content .profile .left-content .session.staff .recent-session {
            margin: 15px; }
    .invite-wrapper .tab-content .profile .recent-activity {
      float: right;
      background: #ffffff;
      width: calc(100% - 280px);
      height: 354px; }
      .invite-wrapper .tab-content .profile .recent-activity .recent-activity-header {
        padding: 20px;
        border-bottom: 1px solid #cecece;
        font-weight: 500; }
      .invite-wrapper .tab-content .profile .recent-activity .recent-activity-content {
        font-weight: 500;
        text-align: center;
        margin: 120px; }
        .invite-wrapper .tab-content .profile .recent-activity .recent-activity-content p {
          font-size: 14px !important;
          color: #afafaf; }
  .invite-wrapper .schedule.active {
    background: #ffffff; }
  .invite-wrapper .schedule .rbc-month-view {
    height: -webkit-fill-available; }
  .invite-wrapper .schedule .rbc-btn-group button {
    color: #c0c7cf;
    font-weight: 300;
    border: 1px solid #c0c7cf;
    text-transform: capitalize;
    font-size: 13px;
    border-radius: 0;
    margin-right: 10px;
    background: #ffffff; }
    .invite-wrapper .schedule .rbc-btn-group button.rbc-active {
      background: #04a7ff;
      color: #ffffff; }
      .invite-wrapper .schedule .rbc-btn-group button.rbc-active:focus {
        outline: none; }
